In [55]:
import numpy as np
from matplotlib import pyplot as plt
import csv
from collections import Counter
import pandas as pd

#plt.style.use("fivethirtyeight")
df = pd.read_csv("school_census_data_18.csv")#, header = 0, usecols = ["Gender", "Handed", "Superpower"])
df.Handed
df.head()
df.tail(3)
df.sample(4)
df.Ageyears < 18
df[df.Ageyears < 18].sort_values(by="Ageyears").head(5)

# for row in df:
#     print(row)
# hand_count = Counter()
# for row in df:
#     hand_count.update("Handed")
    
#print(hand_count)
# handed = data["Handed"]
# gender = data["Gender"]

# handed_counter = Counter()

# for hand in handed:
#     handed_counter.update(handed)
        
# print(handed_counter)

,Country,Region,DataYear,ClassGrade,Gender,Ageyears,Handed,Height_cm,Footlength_cm,Armspan_cm,...,Watching_TV_Hours,Paid_Work_Hours,Work_At_Home_Hours,Schoolwork_Pressure,Planned_Education_Level,Favorite_Music,Superpower,Preferred_Status,Role_Model_Type,Charity_Donation
35,USA,IL,2018,12,Female,15.0,Right-Handed,162,22,146,...,2.0,0.0,2.0,Very little,Graduate degree,Other,Freeze time,Happy,Relative,Health
53,USA,MN,2018,12,Male,16.0,Right-Handed,175,25,178,...,0.0,15.0,0.0,A lot,Graduate degree,Rap/Hip hop,Freeze time,Rich,Sports person,Religious
76,USA,IL,2018,12,Male,16.0,Right-Handed,177,27,175,...,0.0,16.0,4.0,A lot,Graduate degree,Rock and roll,Invisibility,Rich,Relative,Health
37,USA,FL,2018,12,Male,16.0,Right-Handed,181,27,183,...,10.0,28.0,16.0,None,High school,Rap/Hip hop,Telepathy,Rich,Business person,"Wildlife, animals"
67,USA,OK,2018,12,Female,16.0,Right-Handed,158,23,159,...,7.0,0.0,3.0,Some,Undergraduate degree,Other,Telepathy,Healthy,Doctor or nurse,Health